/*.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #c9302c;
  }
  *//*
  .home-container {
    text-align: center;
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: white;
}


.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }*/
  .home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 60px; /* Below Navbar */
  }
  
  .main-content {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Adjust for Sidebar */
  }
  
  