.sidebar {
    width: 250px;
    background: #0de974;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 60px; /* Below Navbar */
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .sidebar li:hover {
    background: #333;
  }
  
  .sidebar li svg {
    margin-right: 10px;
  }
  
  /* Logout Button */
  .logout-btn {
    background: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: auto;
    width: 100%;
  }
  